
* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

html, body, aside, section {
    height: 100%;
}

aside {
    width: 20%;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.left-sidebar {
    top: 0%;
    left: 0%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    border-right: rgb(245, 245, 245);
    border-style: none solid none none;
    border-width: 10px;
}

main {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 80%;
    height: 100%;
    text-align: center;
}

.sidebar-content-wrapper {
    height: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
    font-size: 2em;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.card-container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .card {
    flex-basis: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  
  .card-content {
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 22px 0 rgba(128, 128, 129, 0.37);
  }
  
  .card-content h2 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.3rem;
  }
  .card-content p {
    color: #5c5b5b;
    font-size: 14px;
  }
  
  .img-container {
    margin-top: 10px;
    text-align: right;
  }
  
  .img-container img {
    width: 7rem;
  }

  .card-content:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
  }
  
  .card-content:hover p {
    color: rgb(34, 34, 34);
  }
  
  .card-content-1 {
    border: 3px solid #45d3d3;
  }
  
  .card-content-2 {
    border: 3px solid #ea5353;
  }
  
  .card-content-3 {
    border: 3px solid #fc4ac1;
  }
  
  .card-content-4 {
    border: 3px solid #549ef2;
  }

  #contents {
      margin-top: 50px;
  }

  .no-image {
    flex-basis: 100%;

    align-self: center;
    gap: 50px;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg,
    white 25%, rgb(200, 200 ,200) 0, rgb(200, 200, 200) 50%,
    white 0, white 75%, rgb(200, 200, 200) 0);
    -webkit-background-size:30px 30px;
    background-size:30px 30px;
  }